<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>
    <script>
        var app = angular.module("myApp",[])
        app.controller("myCtrl",function($scope,$http){
            $http.get("http://localhost:1234/feedbackapi")
            .then(function(res){
                console.log(res);
                $scope.feedbacks = res.data ;
                $scope.orderByMe = function(x) {
                $scope.myOrderBy = x;
                }
            })
        })
    </script>
    <div ng-app="myApp" ng-controller="myCtrl" class="container">
        <div class="form-group row text-center my-5">
            <div class="col-md-2 "> 
                <h5>Search Person :</h5> 
            </div>
            <div class="col-12 col-md-5">
                <input class="form-control" id="fullname" ng-model="p" >
            </div>
        </div>
        <div class="row ">
            <div class=" "> 
                <table class="  table table-responsive table-bordered table-dark text-warning table-hover table-striped "> 
                    <tr >
                        <th ng-click="orderByMe('fullname')"><button type="button" class="btn btn-warning">FullName ⏬</button></th>
                        <th ng-click="orderByMe('phone')"><button type="button" class="btn btn-warning">Phone ⏬</button></th>
                        <th ng-click="orderByMe('email')"><button type="button" class="btn btn-warning">Email ⏬</button></th>
                        <th ng-click="orderByMe('feedback')"><button type="button" class="btn btn-warning">Feedback ⏬</button></th>
                        <th ng-click="orderByMe('docontact')"><button type="button" class="btn btn-warning">Contact ⏬</button></th>
                    </tr>
                    <tr  ng-repeat="x in feedbacks | filter : p | orderBy:myOrderBy:true ">
                        <td >{{x.fullname}} </td>
                        <td>{{x.phone}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.feedback}}</td>
                        <td>{{x.docontact}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>